<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link rel="stylesheet" href="/prefix/styles/admin/add-user.css">
</head>
<body>
    <nav class="nav">
        <a href="/admin/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/admin/userList" class="nav__link" data-link>User List</a>
        <a href="/admin/addUser" class="nav__link" data-link>Add User</a>
        <a href="/admin/deleteUser" class="nav__link" data-link>Delete User</a>
        <a class="nav__link" id="logout" data-link>Logout</a>
    </nav>
    <div id="app">
        <form class="form" id="form">
            <div class="form__title">Add User</div>
            <div class="form__item">
                <label for="username" class="form__label">Username</label>
                <input type="text" class="form__input" name="username" id="username" placeholder="Enter the user's username">
            </div>
            <div class="form__item">
                <label for="password" class="form__label">Password</label>
                <input type="password" class="form__input" name="password" id="password" placeholder="Enter the user's password">
                </div>
            <div class="form__item">
                <label for="role" class="form__label">Role</label>
                <input type="text" class="form__input" name="role" id="role" placeholder="Enter the user's role">
            </div>
                <div class="form__input-error-message" id="error-message" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <button type="submit" id="submit-button">Submit</button>
        </form>
    </div>
</body>
<script src="/prefix/script/admin/add-user.js"></script>
</html>