
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link rel="stylesheet" href="/prefix/styles/admin/delete-user.css">
</head>
<body>
    <nav class="nav">
        <a href="/admin/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/admin/userList" class="nav__link" data-link>User List</a>
        <a href="/admin/addUser" class="nav__link" data-link>Add User</a>
        <a href="/admin/deleteUser" class="nav__link" data-link>Delete User</a>
        <a class="nav__link" id="logout" data-link>Logout</a>
    </nav>
    <div id="app">
        <form class="form" id="form">
            <div class="form__title">Delete User</div>
            <div class="form__item">
                <label for="user-id" class="form__label">User ID</label>
                <input type="number" class="form__input" name="user-id" id="user-id" placeholder="Enter the user's Id"></input>
            </div>
            <div class="form__input-error-message" id="error-message" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <button type="submit" id="submit-button">Submit</button>
            <div class="div-response"></div>
        </form>
    </div>
    <script src="/prefix/script/admin/delete-user.js"></script>
</body>
</html>