<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/prefix/styles/librarian/dashboard.css">
</head>
<body>
    <nav class="nav">
        <a href="/librarian/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/librarian/bookList" class="nav__link" data-link>Book List</a>
        <a href="/librarian/userList" class="nav__link" data-link>User List</a>
        <a href="/librarian/addBook" class="nav__link" data-link>Add Book</a>
        <a href="/librarian/deleteBook" class="nav__link" data-link>Delete Book</a>
        <a href="/librarian/borrowBook" class="nav__link" data-link>Borrow Book</a>
        <a href="/librarian/returnBook" class="nav__link" data-link>Return Book</a>
        <a class="nav__link" id="logout" data-link>Logout</a>
    </nav>
    <div id="app">
      <div class="app-container">
        <div class="column column1">
        <form class="user__form">
            <div class="form__title">Search User</div>
            <div class="search-container">
                <input type="text" name="user-search" class="search-input" placeholder="Enter User Id">
                <button class="search-button" type="submit">🔍</button>
            </div>
            <div class="form__input-error-message" id="user-error"
                style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <table id="user-table" class="content-table">
                <thead id="user-head">
                </thead>
                <tbody id="user-content">
        
                </tbody>
            </table>
        </form>
        </div>
        <div class="column column2">
        <form class="book__form">
            <div class="form__title">Search Book</div>
            <div class="search-container">
                <input type="text" name="book-search" class="search-input" placeholder="Enter Book Id">
                <button class="search-button" type="submit">🔍</button>
            </div>
            <div class="form__input-error-message" id="book-error"
                style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <table id="book-table" class="content-table">
                <thead id="book-head">
                </thead>
                <tbody id="book-content">
        
                </tbody>
            </table>
        </form>
        </div>
      </div>
    </div>
</body>
<script>
    const userForm = document.querySelector(".user__form");
    const bookForm = document.querySelector(".book__form");
    const userError = document.getElementById('user-error')
    const bookError = document.getElementById('book-error')

    userForm.addEventListener("submit", event => {
        event.preventDefault();
        const formData = new FormData(userForm);
        const searchParam = formData.get('user-search');
        const url = 'http://localhost:9000/getUserById/'
        const urlWithParam = url + searchParam;

        fetch(urlWithParam, {
            method : 'GET',
            headers: { 'Content-Type': 'application/json'},
        })
            .then(res => res.json())
            .then(function(data) {
                if(data.success == false) {
                    let placeholder = document.querySelector("#user-content");
                    let head = document.querySelector("#user-head");
                    head.innerHTML = ``;
                    placeholder.innerHTML = ``;
                    userError.innerHTML = `${data.message}`;
                } else {
                    userError.innerHTML = ``;
                    let placeholder = document.querySelector("#user-content");
                    let head = document.querySelector("#user-head");
                    head.innerHTML = `
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Role</th>
                        </tr>
                    `;
                    placeholder.innerHTML = `
                        <tr>
                            <td>${data.data.id}</td>
                            <td>${data.data.username}</td>
                            <td>${data.data.role}</td>
                        </tr>
                    `;
                }
            })
            .catch(error => console.log(error))
    })

    bookForm.addEventListener("submit", event => {
        event.preventDefault();
        const formData = new FormData(bookForm);
        const searchParam = formData.get('book-search');
        const url = 'http://localhost:9000/getBookById/'
        const urlWithParam = url + searchParam;

        fetch(urlWithParam, {
            method : 'GET',
            headers: { 'Content-Type': 'application/json'},
        })
            .then(res => res.json())
            .then(function(data) {
                if(data.success == false) {
                    let placeholder = document.querySelector("#book-content");
                    let head = document.querySelector("#book-head");
                    head.innerHTML = ``;
                    placeholder.innerHTML = ``;
                    bookError.innerHTML = `${data.message}`;
                } else {
                    bookError.innerHTML = ``;
                    let placeholder = document.querySelector("#book-content");
                    let head = document.querySelector("#book-head");
                    head.innerHTML = `
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Genres</th>
                            <th>Synopsis</th>
                            <th>releaseYear</th>
                            <th>Available</th>
                        </tr>
                    `;
                    placeholder.innerHTML = `
                        <tr>
                            <td>${data.data.id}</td>
                            <td>${data.data.title}</td>
                            <td>${data.data.author}</td>
                            <td>${data.data.genres}</td>
                            <td>${data.data.synopsis}</td>
                            <td>${data.data.releaseYear}</td>
                            <td>${data.data.available}</td>
                        </tr>
                    `;
                }
            })
            .catch(error => console.log(error))
    })

    document.addEventListener('DOMContentLoaded', function() {
    const logout = document.getElementById('logout')
    logout.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action
        
        fetch("http://localhost:9000/logoutHandler")

        setTimeout(() => {
            window.location.href = "http://localhost:9000/login";
        }, 3000);
    });
});
</script>
</html>