<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/prefix/styles/librarian/dashboard.css">
</head>
<body>
    <nav class="nav">
        <a href="/librarian/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/librarian/bookList" class="nav__link" data-link>Book List</a>
        <a href="/librarian/userList" class="nav__link" data-link>User List</a>
        <a href="/librarian/addBook" class="nav__link" data-link>Add Book</a>
        <a href="/librarian/deleteBook" class="nav__link" data-link>Delete Book</a>
        <a href="/librarian/borrowBook" class="nav__link" data-link>Borrow Book</a>
        <a href="/librarian/returnBook" class="nav__link" data-link>Return Book</a>
    </nav>
    <div id="app">
      <div class="app-container">
        <div class="column column1">
        <form class="form">
        <div class="form__title">Search User</div>
            <div class="search-container">
                <input type="text" name="search" class="search-input" placeholder="Enter User Id">
                <button class="search-button" type="submit">🔍</button>
            </div>
                <div class="form__input-error-message" id="error-message" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
        <table id="table" class="content-table">
            <thead id="head">
            </thead>
            <tbody id="content">
    
            </tbody>
        </table>
        </div>
        </form>
        <div class="column column2"></div>
      </div>
    </div>
</body>
<script>
    const userForm = document.querySelector(".form");
    const errorDiv = document.querySelector(".form__input-error-message")

    userForm.addEventListener("submit", event => {
        event.preventDefault();
        const formData = new FormData(userForm);
        const searchParam = formData.get('search');
        const url = 'http://localhost:9000/getUserById/'
        const urlWithParam = url + searchParam;

        fetch(urlWithParam, {
            method : 'GET',
            headers: { 'Content-Type': 'application/json'},
        })
            .then(res => res.json())
            .then(function(data) {
                if(data.success == false) {
                    errorDiv.innerHTML = `${data.message}`;
                } else {
                    errorDiv.innerHTML = ``;
                    let placeholder = document.querySelector("#content");
                    let head = document.querySelector("#head");
                    head.innerHTML = `
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Role</th>
                        </tr>
                    `;
                    placeholder.innerHTML = `
                        <tr>
                            <td>${data.data.id}</td>
                            <td>${data.data.username}</td>
                            <td>${data.data.role}</td>
                        </tr>
                    `;
                }
            })
            .catch(error => console.log(error))
    })
</script>
</html>