<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link rel="stylesheet" href="/prefix/styles/librarian/return-book.css">
</head>
<body>
    <nav class="nav">
        <a href="/librarian/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/librarian/bookList" class="nav__link" data-link>Book List</a>
        <a href="/librarian/userList" class="nav__link" data-link>User List</a>
        <a href="/librarian/addBook" class="nav__link" data-link>Add Book</a>
        <a href="/librarian/deleteBook" class="nav__link" data-link>Delete Book</a>
        <a href="/librarian/borrowBook" class="nav__link" data-link>Borrow Book</a>
        <a href="/librarian/returnBook" class="nav__link" data-link>Return Book</a>
        <a class="nav__link" id="logout" data-link>Logout</a>
    </nav>
    <div id="app">
        <form class="form">
            <div class="form__title">Return Book</div>
            <div class="form__item">
                <label for="user-id" class="form__label">User ID</label>
                <input type="number" class="form__input" name="user-id" id="user-id" placeholder="enter the user's Id"></input>
            </div>
            <div class="form__input-error-message" id="error-message" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <div class="form__input-denda-message" id="denda-message" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
            <button type="submit" id="submit-button">Return</button>
        </form>
    </div>
    <script src="/prefix/script/librarian/return-book.js"></script>
</body>
</html>