<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Sentence</title>
  <style>
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

.container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
}

.big-sentence {
  font-size: 2.6em;  text-align: center;
  font-weight: bold;
}

  </style>
<body>
  <div class="container">
    <p class="big-sentence">You are not authorized to enter this page. Check if you're logged in and check your role.</p>
  </div>
</body>
</html>
