    body {
        --nav-width: 200px;
        margin: 0 0 0 var(--nav-width);
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: var(--nav-width);
        height: 100vh;
        background: #222222;
    }

    .nav__link {
        display: block;
        padding: 16px 22px;
        text-decoration: none;
        color: #eeeeee;
        font-weight: 500;
    }

    .nav__link:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    #app {
        margin: 2em;
        line-height: 1.5;
        font-weight: 500;
    }

    a {
        color: #009579;
    }

    .form {
        font-size: 16px
    }
    
    .form * {
        box-sizing: border-box;
        line-height: 1.5;
    }

    .form__title {
        margin-bottom: 0.6rem;
        font-size: 2em;
        font-weight: 600;
    }

    .form__item {
        display: flex;
        flex-direction: column;
    }

    .form__item > * {
        align-self: flex-start;
    }

    .form__label {
        font-weight: 600;
        padding: 10px 0;
    }

    .form__input {
        -webkit-appearance: none;

        width: 100%;
        max-width: 425px;

        padding: 0.8em;
        font-size: 0.9em;
        font-family: sans-serif;

        outline: none;
        border: 1px solid #dddddd;
        border-radius: 4px;
        background: #f9f9f9;
        transition: background 0.25s, border-color 0.25s, color 0.25s;
    }

    .form__input:focus {
        background: #ffffff;
    }

    .form__input::placeholder {
        color: #bbbbbb;
    }
      .app-container {
          display: flex;
      }
      .column {
          flex: 1;
          padding: 10px;
          min-height: 650px;
      }
      .column1 {
      }
      .column2 {
      
      }
      .search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 2px 8px;
    background-color: #fff;
    width : 500px;
}

.search-input {
    border: none;
    outline: none;
    padding: 6px 8px;
    font-size: 14px;
    flex: 1;
    border-radius: 25px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
}

.search-button:focus {
    outline: none;
}

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        width: 500px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        background-color: #222222;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .content-table tbody tr:nth-of-type(even) {  
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {  
        border-bottom: 2px solid #222222;
    }