<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page App</title>
    <link rel="stylesheet" href="/prefix/styles/user/book-list.css">
</head>
<body>
    <nav class="nav">
        <a href="/user/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/user/bookList" class="nav__link" data-link>Book List</a>
    </nav>
    <script src="/prefix/script/user/book-list.js"></script>
    <div id="app">
    <table id="table" class="content-table"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genres</th>
                <th>Synopsis</th>
                <th>Release Year</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody id="content">

        </tbody>
    </table>
    </div>
</body>
</html>