<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/prefix/styles/user/dashboard.css">
</head>
<body>
    <nav class="nav">
        <a href="/user/dashboard" class="nav__link" data-link>Dashboard</a>
        <a href="/user/bookList" class="nav__link" data-link>Book List</a>
        <a class="nav__link" id="logout" data-link>Logout</a>
    </nav>
    <div id="app">
      <div class="app-container">
        <div class="column column1">
        <form class="book__form" id="book__form">
        <div class="form__title">Search Book</div>
            <div class="search-container">
                <input type="text" name="book-search" class="search-input" id="book-search" placeholder="Enter Book Title">
                <button class="search-button" type="submit">🔍</button>
            </div>
                <div class="form__input-error-message" id="book-error" style="color: #cc3333; font-size: 0.85rem; margin-top: 0.4rem; margin-bottom: 0.4rem;"></div>
        <table id="table" class="content-table">
            <thead id="head">
            </thead>
            <tbody id="content">
    
            </tbody>
        </table>
        </div>
        </form>
        <div class="column column2"></div>
      </div>
    </div>
</body>
<script>
    const bookForm = document.querySelector(".book__form");
    const bookError = document.getElementById('book-error')
    bookForm.addEventListener("submit", event => {
        event.preventDefault();
        const formData = new FormData(bookForm);
        const searchParam = formData.get('book-search');
        const url = 'http://localhost:9000/getBookByTitle/'
        const urlWithParam = url + searchParam;

        fetch(urlWithParam, {
            method : 'GET',
            headers: { 'Content-Type': 'application/json'},
        })
            .then(res => res.json())
            .then(function(data) {
                if(data.success == false) {
                    let placeholder = document.querySelector("#content");
                    let head = document.querySelector("#head");
                    head.innerHTML = ``;
                    placeholder.innerHTML = ``;
                    bookError.innerHTML = `${data.message}`;
                } else {
                    bookError.innerHTML = ``;
                    let placeholder = document.querySelector("#content");
                    let head = document.querySelector("#head");
                    head.innerHTML = `
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Genres</th>
                            <th>Synopsis</th>
                            <th>releaseYear</th>
                            <th>Available</th>
                        </tr>
                    `;
                    placeholder.innerHTML = `
                        <tr>
                            <td>${data.data.id}</td>
                            <td>${data.data.title}</td>
                            <td>${data.data.author}</td>
                            <td>${data.data.genres}</td>
                            <td>${data.data.synopsis}</td>
                            <td>${data.data.releaseYear}</td>
                            <td>${data.data.available}</td>
                        </tr>
                    `;
                }
            })
            .catch(error => console.log(error))
    })

    document.addEventListener('DOMContentLoaded', function() {
    const logout = document.getElementById('logout')
    logout.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action
        
        fetch("http://localhost:9000/logoutHandler")

        setTimeout(() => {
            window.location.href = "http://localhost:9000/login";
        }, 3000);
    });
});
</script>
</html>